body, p, h1, h3 {
    margin: 0;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

h1 {
    padding: 50px;
    font-size: 40px;
    margin-bottom: 40px;
}

body {
    padding: 40px;
}

.change-password-div {
    position: absolute;
    top: 5%;
    right: 8%;
    width: 300px;
}

#change-password, #change, #delete-all, #log-out-btn {
    color: black;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 6px;
    padding: 3px;
    height: 35px;
    width: 300px;
    font-size: 12px;
    font-weight: 700;
    opacity: 1;
    outline: 0 solid transparent;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.2s, border-width 0s;
}

#change-password, #change {
    background-color: rgb(0, 156, 104);
    color: white;
    box-shadow: #00f99e 0 10px 20px -10px;
}

#log-out-btn {
    background-color: #ff3636;
    color: white;
    box-shadow: #ff3636 0 10px 20px -10px;
}

#delete-all {
    background-color: #5E5DF0;
    color: white;
    box-shadow: #5E5DF0 0 10px 20px -10px;
}

#change:hover, #change-password:hover, #delete-all:hover, #log-out-btn:hover {
    background-color: white;
    border-style: solid;
    border-color: rgb(0, 156, 104);
    border-width: 1px;
    color: rgb(0, 156, 104);
}

#delete-all:hover {
    background-color: white;
    border-color: #5E5DF0;
    color: #5E5DF0;
}

#log-out-btn:hover {
    background-color: white;
    border-color: red;
    color: red;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 6px;
    border-width: 1px;
    border-color: rgb(160, 160, 160);
    transition: background-color 0.2s, border-width 0s;
}

#change-password-hide {
    background-color: rgb(207, 250, 235);
    margin-top: 20px;
    padding: 20px;
    font-size: large;
    display: flex;
    width: 320px;
    flex-direction: column;
    border: 1px solid gray;
    box-shadow: black 0 10px 20px -10px;
    border-radius: 10px;
    display: none;
}

.hide-btn-div {
    width: 100%;
    display: flex;
    justify-content: end;
}

.hide-btn {
    background-color: #ff3636;
    border-color: red;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    color: white;
    padding: 0px;
}

.hide-btn:hover {
    background-color: white;
    color: red;
}

th {
    background-color: rgb(0, 156, 104);
    color: white;
    height: 40px;
    border: 1px solid white;
    text-transform: capitalize;
}

.editable input {
    width: 50%;
    padding: 5px;
    margin: 0;
    border: none;
    outline: none;
}

::selection {
    background-color: rgb(168, 251, 223);
}

#api-table{
    width: 100%;
    border-collapse: collapse;
}

tr, td{
    height: 30px;
    background-color: rgb(179, 255, 228);
    padding: 8px;
    border: solid 1px white;
}

#api-table td:first-child{
    text-align: center;
}

#api-table td:nth-child(3){
    text-align: center;
}

#api-table td:nth-child(4){
    text-align: center;
    max-width: 200px;
}

.title-div {
    width: 100%;
    display: flex;
}

button {
    width: 60px;
    height: 30px;
    background-color: aquamarine;
    border: 1px solid rgb(0, 215, 144);
    border-radius: 5px;
    transition: 0.15s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 255, 170);
}

.btn-edit {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    opacity: 1;
    outline: 0 solid transparent;
    width: 60px;
    border: 0;
}

.btn-edit:hover {
    border:1px solid rgb(79, 167, 255);
    background-color: white;
    color: blue;
}

.btn-delete {
    background: #ff3636;
    border-radius: 999px;
    box-shadow: #ff3636 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    opacity: 1;
    outline: 0 solid transparent;
    width: 70px;
    border: 0;
  }

.btn-delete:hover {
    background-color: white;
    border: 1px solid red;    
    color: red;
}

#error-img {
    visibility: hidden;
}
